body {
	font-family: sans-serif;
	background-color: rgba(0,0,10,.9);
	color: white;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#searchDiv {
	display: block;
	text-align: center;
}

#search {
	height: 30px;
	padding: 3px;
	width: 400px;
	border: 2px solid rgba(0, 30, 12, .4);
	border-radius: 6px;
	text-align: center;
}

#searchBtn {
	padding: 5px;
	border-radius: 3px;
}

#infoLbl {
	margin-left: 20px;
	color: yellow;
	font-size: 16px;
	font-family: monospace;
}

th {
	background-color: rgba(0,0,10,.9);
	padding: 7px;
	color: aqua;
}

tr {
	margin: 1px;
}

tr:nth-child(odd) {
	background-color: #dddddd;
	color: rgba(0,0,10,.9);
}

td {
	text-align: center;
	padding: 5px;
}

.smallTd {
	width: 10%;
}

.bigTd {
	width: 72%;
}

.midTd {
	width: 18%;
}