table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#searchDiv {
	display: block;
	text-align: center;
}

#search {
	height: 30px;
	padding: 3px;
	width: 400px;
	border: 2px solid rgba(0, 30, 12, .4);
	border-radius: 6px;
	text-align: center;
}

#searchBtn {
	padding: 5px;
	border-radius: 3px;
}

th {
	background-color: rgba(0, 0, 0, .3);
	padding: 7px;
}


tr:nth-child(even) {
	background-color: #dddddd;
}

td {
	text-align: center;
	padding: 5px;
	color: green;
}

.smallTd {
	width: 10%;
}

.bigTd {
	width: 72%;
}

.midTd {
	width: 18%;
}